.channel-chat-container {
  width: 80%;
  margin: 20px auto;
}

.channel-messages {
  border: 1px solid #ccc;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}
.channel-messages>*{
	padding: 10px;
}

.message {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
}

.message.self {
  background-color: #d1ffd1;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
}

.message.other {
  background-color: #e1e1e1;
  align-self: flex-start;
  text-align: left;
}

.timestamp {
  display: block;
  font-size: 0.7rem;
  color: #555;
}

.channel-input-container {
  display: flex;
  gap: 10px;
}

.channel-input-container input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.channel-input-container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0077ff;
  color: white;
  cursor: pointer;
}

.channel-input-container button:hover {
  background-color: #005fcc;
}

.button-div {
  margin-top: 30px;
}


.button-div button{
	color: white;
	border-radius: 10px;
padding: 20px;
font-size: 25px;
background-color: #289DB9;
cursor: pointer;

}
.button-div button:hover{
	background-color: #00323e
}
@media screen and (max-width:400px) {
	.channel-input-container{
		flex-direction: column;
	}
	
}