.chat-page{
	background-color: #3F4E65;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.channel{
	display: flex;
	flex-direction: column;

}
.chat-page>*{
	margin: 30px;
}
.channel,.DM, .create-channel{
	display: flex;
	border-radius: 10px;
	background-color: #C3F1FC;
	width: 50%;
}
h1{
	border-bottom: 1px solid black;
	color: black;
}
.channel-content{
	padding: 30px;
}
.ul-channel>*{
	padding: 20px;
}
.DM{
	display: flex;
	flex-direction: column;
}
.dm-content{
	padding: 30px;
}
ul {
	list-style: none;
}
.ul-dm>*{
	padding: 20px;
}

a{
	text-decoration: none;
	color: black;
	
}
a:hover{
	color:red
}
.dm-div {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px; 
  text-align: center;
}

.dm-div img {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
}
.image-div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-div button{
	color: white;
	border-radius: 10px;
padding: 20px;
font-size: 25px;
background-color: #289DB9;
cursor: pointer;

}
.button-div button:hover{
	background-color: #00323e
}
.confirm-delete{
	font-size: 25px;
	color: white;
	display: flex;
	flex-direction: column;
}
.confirm-delete>*{
	margin: 10px;
}
.create-channel{
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.create-channel>*{
	margin: 20px;
}
.create-channel button{
	width: 50%;
	background-color: #289DB9;
	padding: 20px;
	border-radius: 10px;
}
.create-channel input{
	width: 100%
	
}
.input{
	height: 40px;
	border-radius: 7px;
	margin-top: 20px;
}
.channel-name{
	font-size: 20px;
	
}
.div-checkbox{
display: flex;
gap: 10px;
}
.channel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 1.2rem;
  transition: 0.2s;
}

.delete-btn:hover {
  transform: scale(1.2);
}
.confirm-delete-channel {
  display: flex;
  gap: 8px;
  align-items: center;
}

.confirm-delete-channel p {
  margin: 0;
  font-size: 0.9rem;
  color: red;
}

.confirm-delete-channel button {
  background: transparent;
  border: 1px solid red;
  color: red;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-delete-channel button:hover {
  background: red;
  color: white;
}
.home-button a{
background-color: #289DB9;
color: white;
padding: 20px;
font-size: 25px;
border-radius: 10px;
cursor: pointer;
}
.home-button a:hover{
	background-color: #00323e
}

@media screen and (max-width:600px) {
	.chat-page{
		padding: 0;
	}
	.channel-content{
		padding: 0;
	}
	h1{
		font-size: 26px;
	}
	.dm-content{padding: 0;}
	.ul-dm>*{
	padding: 10px;
}
.confirm-delete-channel {
	padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}


}
@media screen and (max-width:400px){
	.chat-page{
		align-items: start;
	}
	h1{
		font-size: 20px;
	}

}
.dm-link:hover{
	color: red;
	cursor: pointer;
}
.ul-channel li:hover{
	color: red;
	cursor: pointer;
}