.chat-page{
	background-color: #3F4E65;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.channel{
	display: flex;
	flex-direction: column;

}
.chat-page>*{
	margin: 30px;
}
.channel,.DM{
	display: flex;
	border-radius: 10px;
	background-color: #C3F1FC;
	width: 50%;
}
h1{
	border-bottom: 1px solid black;
	color: black;
}
.channel-content{
	padding: 30px;
}
.ul-channel>*{
	padding: 20px;
}
.DM{
	display: flex;
	flex-direction: column;
}
.dm-content{
	padding: 30px;
}
ul {
	list-style: none;
}
.ul-dm>*{
	padding: 20px;
}

a{
	text-decoration: none;
	color: black;
	
}
a:hover{
	color:red
}
.dm-div {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px; 
  text-align: center;
}

.dm-div img {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
}
.image-div{
	display: flex;
	justify-content: center;
	align-items: center;
}