/* DMPage.css */
.dm-container {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-bottom: 30px;
}

.dm-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

.dm-messages {
  flex: 1;
width: 90%;  
padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #fff;
}

.dm-message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 75%;
}

.dm-message.self {
  background-color: #d1e7dd;
  align-self: flex-end;
}

.dm-message.other {
  background-color: #f8d7da;
  align-self: flex-start;
}

.dm-input-container {
	width: 80%;
  display: flex;
  gap: 10px;
}

.dm-input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.dm-send-btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #0d6efd;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.dm-send-btn:hover {
  background-color: #084f61;

}
.button-div{

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom:  30px;
}
.button-div button{
	color: white;
	border-radius: 10px;
padding: 20px;
font-size: 20px;
background-color: #289DB9;
cursor: pointer;

}

.div-user{
	padding:5px;
	background-color: #3F4E65;
	
}
.div-user>*{
	color: white;
	text-align: start;
}
.div-user img{
	width:30px;
	height: 30px;
	border-radius: 100%;
}
@media screen and (max-width:500px) {
	.dm-input-container {
	width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
}