.title-home{
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	font-size: 36px;
	padding: 20px;
	color: #289DB9;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}
button{
	font-size: 18px;
}
.content-home{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.content-home>*{
box-shadow: 10px 14px 12px rgba(0, 0, 0, 0.1);
	margin: 20px;
	width: 300px;
	height: 40px;
}
.content-home input{
	
	color: #808080;
}
.content-home button{
	width: 320px;
	height: 58px;

	color: white;
	cursor: pointer;
	border: none;
	
}
.content-home>*{
	padding: 10px;
	border-radius: 7px;
}
.new-user a{
	cursor: pointer;
}
.new-user{
	display: flex;
	justify-content: center;
}
.LogIn-button{
	background-color: #3F5965;
}
.LogIn-button:hover{
	    background-color: #084f61;
}
.guest{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #289DB9;
	margin-bottom: 80px;
	color: white;
}
@media screen and (max-width:400px) {
h1{
	font-size: 26px;
}
.content-home>*{
	width: 200px;
	height: 30px;
}

.content-home button{
	width: 225px;
	height: 52px;

	
}
}

.error-message {
  color: #872116;
  margin-top: 10px;
  text-align: center;
}

.success-message {
  color: #2ecc71;
  margin-top: 10px;
  text-align: center;
}

.LogIn-button:disabled {
  opacity: 0.6;

}
